.mem {
  margin: 0 20px;
  padding: 10px;
  border: 0;
  box-sizing: border-box;
  border-bottom: 2px solid white;
  background-color: rgb(87, 142, 142);
}
.mem:focus {
  outline: none;
}
@media (hover: hover) {
  .mem:hover {
    cursor: pointer;
  }
}
