.mem__button {
  width: 20px;
  height: 20px;
  background: url('../../../images/add.png') center/contain no-repeat;
}
.mem:focus .mem__button{
  background-image: url('../../../images/close.png') ;
}

@media (hover: hover) {
  .mem:hover .mem__button {
    background-image: url('../../../images/close.png') ;
  }
}
